In [2]:
print("Liner Regression")

Liner Regression

In [1]:
import numpy as np
import random
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
list_X = [random.randint(31,50) for x in range(50)]
list_y = [random.randint(0,10) for y in range(25)]
X = np.array(list_X)
#a = np.arange(list_X).shape(-1,1)
y = np.array(list_y)

In [4]:
X = X.reshape(-1,2)
#y.reshape(-2,2)

In [5]:
len(X)
len(y)

25

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20)

In [7]:
reg = LinearRegression().fit(X_train, y_train)

In [8]:
reg.predict(np.array([[33, 41]]))

array([5.27465477])

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [10]:
data = pd.read_csv('Datesets/iris.csv')

In [11]:
data

     sepal_length  sepal_width  petal_length  petal_width      iris_class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   iris_class    150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [13]:
LE = LabelEncoder()

In [14]:
data['iris_class'] = LE.fit_transform(data['iris_class'])

In [15]:
data

     sepal_length  sepal_width  petal_length  petal_width  iris_class
0             5.1          3.5           1.4          0.2           0
1             4.9          3.0           1.4          0.2           0
2             4.7          3.2           1.3          0.2           0
3             4.6          3.1           1.5          0.2           0
4             5.0          3.6           1.4          0.2           0
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3           2
146           6.3          2.5           5.0          1.9           2
147           6.5          3.0           5.2          2.0           2
148           6.2          3.4           5.4          2.3           2
149           5.9          3.0           5.1          1.8           2

[150 rows x 5 columns]

In [9]:
data.isnull()

     sepal_length  sepal_width  petal_length  petal_width  iris_class
0           False        False         False        False       False
1           False        False         False        False       False
2           False        False         False        False       False
3           False        False         False        False       False
4           False        False         False        False       False
..            ...          ...           ...          ...         ...
145         False        False         False        False       False
146         False        False         False        False       False
147         False        False         False        False       False
148         False        False         False        False       False
149         False        False         False        False       False

[150 rows x 5 columns]

In [11]:
#check null or missing values
np.isnan(data.values).sum()

0

In [12]:
#put Liner regression above dataset
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

In [14]:
# split train and test
from sklearn.model_selection import train_test_split

In [29]:
#Divide dataset into feature and label
X = data[data.columns[0:4]]
y = data['iris_class']

In [30]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [31]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: iris_class, Length: 150, dtype: int64

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [35]:
model.fit(X_train,y_train)

LinearRegression()

In [39]:
print(model.predict(X_test))

[ 2.07393349 -0.00634735  1.67993591  1.27415137  2.05810001  1.80554923
  1.159381    0.03802165  0.06884798  1.39788825  2.02937707  1.97031197
  0.01576659 -0.052325    2.15530834  0.01842613  1.48858323  2.00233786
 -0.09533353  0.89607905  1.87455588 -0.07735646  0.16159619  0.01042629
 -0.04267632  1.81980831  2.01000916  1.6672035   2.27761948  1.44117068]

In [43]:
pred = model.predict(X_test)

In [44]:
pred

array([ 2.07393349, -0.00634735,  1.67993591,  1.27415137,  2.05810001,
        1.80554923,  1.159381  ,  0.03802165,  0.06884798,  1.39788825,
        2.02937707,  1.97031197,  0.01576659, -0.052325  ,  2.15530834,
        0.01842613,  1.48858323,  2.00233786, -0.09533353,  0.89607905,
        1.87455588, -0.07735646,  0.16159619,  0.01042629, -0.04267632,
        1.81980831,  2.01000916,  1.6672035 ,  2.27761948,  1.44117068])

In [46]:
from sklearn.metrics import r2_score

In [47]:
r2 = r2_score(pred,y_test)

In [48]:
r2

0.9446356217157142